#link h4{
    color: red;
    margin-bottom: 0;
}
#link a{
    color: rgb(127, 255, 172);
}
header {
    text-align:center ;
}
#intestazione {
    text-align: center;
    background: linear-gradient(180deg, hsl(43, 100%, 50%), #d0bcae00);
    padding: 10px;
}
#image p {
    color: lightgray;
}
#focaccia h1 {
    text-align: center;
}
#image {
    text-align:center ;
}
img {
    border-radius: 10px;
}
hr { 
    color: rgb(0, 217, 255);
    background: rgb(0, 217, 255);
    border: 0;
    height: 1px;
}
main {
    margin: auto;
    max-width: 700px;
}
#method p {
    padding-left: 40px;    
}
footer {
    margin: auto;
    max-width: 700px;
}